.profile-container {
    height: 100%;
    width: 100%;

    font-family: 'Abel-Regular';
}

.top-band {
    height: 85vh;
    background-color: #dcdcdcaa;
    width: 100%;
}

.schneef {
    height: 2em;
    color: rgb(68, 1, 91);
    margin-top: 0.1em;
}

.banner-content {
    padding-left: 1em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.avatar-image {
    height: 14em;
    width: 13em;
    border: 2px darkgray solid;
    border-radius: 4px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    width: 12em;
    margin-left: auto;
    margin-right: auto;
}

.addPhoto {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    padding: 0.1em;
    padding-left: 0.5em;
    width: 13rem;
    padding-right: 0.5em;
    margin-top: 0;
}

.photoText {
    margin-top: 0.1em;
    margin-bottom: 0;
}

.camera {
    padding-right: 0.25em;
    font-size: 18px !important;
}

.name-section {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 1em;
    text-align: center;
}

.stats-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stat-container {
    display: flex;
    flex-direction: row;
}

.profile-name {
    font-weight: bolder;
    font-size: 2em;
    color: rgb(68, 1, 91);
}

.location {
    font-size: 1.25em;
    padding: 0.25em;
}

.stat-container {
    margin-right: 1em;
}

.statIcon {
    color: rgb(68, 1, 91);
}

.stat {
    margin-top: 0.25em;
    margin-left: 0.25em;
}

.vl {
    display: none;
}

.add-section {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

.side {
    color: rgb(0, 140, 178);
}

.sideIcon {
    color: rgb(0, 140, 178);
}

.add-item {
    display: flex;
    flex-direction: row;
}

.under-band {
    display: flex;
    flex-direction: row;
}

.view-options-container {
    display: flex;
    flex-direction: column;
    padding-top: 9em;
    justify-content: center;
    text-align: center;
    padding-right: 7em;
}

.viewOptions-header {
    color: rgb(68, 1, 91);
    font-size: 1.75em;
}

.last-stat {
    margin-right: 0;
}

.viewOption {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: rgb(68, 1, 91);
    transition: 300ms;
    height: 4em;
    padding-top: 1em;
}

.viewOption:hover {
    background-color: #dcdcdcaa;
    transition: 600ms;
}

.selectedView {
    background-color: #dcdcdcaa;
}

.optionText {
    margin-bottom: 0;
    margin-top: 0.75em;
    padding-left: 0.5em;
}

.option-divider {
    display: flex;
    flex-direction: column;
    max-width: 10em;
    height: 4em;
}

.option-divider hr {
    margin-top: 0;
    margin-bottom: 0;
}

.main-view-container {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    width: 32%;
}

.main-title {
    color: rgb(68, 1, 91);
}

.recent-title {
    color: rgb(68, 1, 91);
}

.friends-compliments-container {
    padding-bottom: 2em;
}

@media (min-width: 768px) {
    .top-band {
        height: 20em;
    }
    .banner-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .name-section {
        padding-top: 4em;
    }

    .add-section {
        padding-top: 4em;
        padding-bottom: 0;
    }
}

@media (min-width: 1400px) {
    .banner-content {
        padding-left: 13em;
        padding-right: 15em;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        padding-top: 0;
        display: flex;
        flex-direction: row;
    }

    .avatar-image {
        height: 18em;
        position: relative;
        width: 16em;
        border: 2px darkgray solid;
        border-radius: 4px;
        top: 7em;
    }

    .avatar-container {
        margin-left: 0;
        margin-right: 0;
    }

    .addPhoto {
        padding: 0.1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        position: relative;
        top: 3.75em;
        margin-top: 1em;
        width: 16em;
    }

    .name-section {
        padding-top: 8em;
        text-align: left;
        padding-left: 0;
    }

    .profile-name {
        font-size: 3em;
    }

    .location {
        font-size: 1.75em;
        padding: 0;
    }

    .stats-section {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .stat {
        margin-top: 0.75em;
    }

    .vl {
        display: block;
        border-left: 2px solid rgb(195, 193, 193);
        height: 12em;
        margin-top: 6em;
    }

    .add-section {
        padding-top: 7em;
        margin-left: 0;
        margin-right: 0;
    }

    .sideIcon {
        margin-top: 0.5em;
    }

    .view-options-container {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        padding-left: 13em;
        padding-top: 6em;
    }
}
